<div class="container" id="profile">
  <div id="userInfo" ng-if="userInfoCtrl.isRegistered()">
    <h2 class="text-center">Profile</h2>
    <div class="row" id="userInfoTable">
      <div class="col-xs-6">
        <span class="pull-right">First name:</span><br>
        <span class="pull-right">Last name:</span><br>
        <span class="pull-right">Email:</span><br>
        <span class="pull-right">Phone number:</span>
      </div>  
      <div class="col-xs-6">
        {{ userInfoCtrl.userInfo.firstName }}<br>
        {{ userInfoCtrl.userInfo.lastName }}<br>
        {{ userInfoCtrl.userInfo.email }}<br>
        {{ userInfoCtrl.userInfo.phoneNumber }}<br>
      </div>
    </div>  
    <h3 id="favMenuItem" class="text-center">
      Favourite Menu Item:  
    </h3>    
    <menu-item menu-item="userInfoCtrl.menuItem"></menu-item>
  </div>
  <div id="userInfoEmpty" ng-if="!userInfoCtrl.isRegistered()" class="text-center">
    <h2>Not Signed Up Yet. <a ui-sref='public.signup'>Sign up Now!</a></h2>
  </div>
</div>